<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>AddInWithSelectionInput addin</Name>
  <AddInID>{890f172e-3923-42d8-a24d-14b62976f448}</AddInID>
  <Description>Template addin which takes multiple features selected in ArcMap and does some action on them</Description>
  <Version>1.0</Version>
  <Image>Images\fox-32x32.png</Image>
  <Author>Remigijus Pankevičius</Author>
  <Company>Lazy Cats Studio</Company>
  <Date>11/16/2019</Date>
  <Targets>
    <Target name="Desktop" version="10.5" />
  </Targets>
  <AddIn language="PYTHON" library="AddInWithSelectionInput_addin.py" namespace="AddInWithSelectionInput_addin">
    <ArcMap>
      <Commands>
        <Button caption="Click me" category="AddIn With Selection Input" class="ButtonClickMe" id="AddInWithSelectionInput_addin.button"
          image="Images\fox-32x32.png" message="Does something with features currently selected in ArcMap view"
          tip="ArcMap 10.5 version">
          <Help heading="Does something with selected features" />
        </Button>
      </Commands>
      <Extensions>
        <Extension autoLoad="true" category="AddIn With Selection Input" class="ExtensionAttachments"
          id="AddInWithSelectionInput_addin.extension" name="Addin With Selection Input Extension" productName="Addin With Selection Input Extension"
          showInExtensionDialog="true"
          description="Listens to ArcMap events to enable/disable button" />
      </Extensions>
      <Toolbars>
        <Toolbar caption="AddIn With Selection Input" category="AddIn With Selection Input" id="AddInWithSelectionInput_addin.toolbar" showInitially="true">
          <Items>
            <Button refID="AddInWithSelectionInput_addin.button" />
          </Items>
        </Toolbar>
      </Toolbars>
      <Menus>
      </Menus>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>
